#main {
    display: flex;
    justify-content: center;
  align-items: center;
  }

.selected{
  background-color:#d6012e;
  color: white;
    border: none;
    shadow:none;
}

.button {
   background-color: #d6012e;
    color: white;
    width: 300px;
    height: 50px; 
    font-size: 25px;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

#SxC_Base {
    z-index: -1;
    width: 80%;
    position: absolute;
    margin:auto;
    top:-80px;
  }

.immagine {
    z-index: 0;
    width: 80%;
    position: absolute;
    margin:auto;
    top:-80px;
  }


  #SxC_Numeri {
    z-index: 1;
    width: 80%;
      position: absolute;
    margin:auto;
      top:-80px;
  }

#p1 {
  position: relative;
  right: 0p;
  width: 60%;
}
